@import "/src/styles/mixin";
@import "/src/styles/variables";
@import "/src/styles/responsive";

.root {
  @include Text();
  background-color: $light-primary;
  font-weight: 700;
  color: $light-white;
  padding: 14px;
  appearance: none;
  cursor: pointer;
  @include Transition();
  margin-right: 15px;
  font-size: 1rem;
  border-radius: 10px;
  display: flex;
  column-gap: 10px;
  svg {
    width: 20px;
  }
  &:hover {
    opacity: 0.9;
  }
  &.subBtn {
    display: flex;
    align-items: center;
    @include boxShadow();
    background-color: transparent;
    color: $black;
    @include Transition3();
    &:hover {
      background-color: rgba($black-hover, 0.1);
    }
  }
  &:disabled {
    background-color: rgba($black-fade, 0.5);
    color: rgba($white, 0.5);
    cursor: auto;
  }
  &.cancelBtn {
    background-color: $black-fade;
    color: $black;
    font-weight: 700;
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}
